.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    max-width: 21%;
    height: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.card img{
    height: 100%;
    max-height: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.tensp{
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: grey;
    font-size: 27px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 3px;
}
.price{
    margin-top: 0px;
    margin-bottom: 5px;
    color: grey;
    font-size: 23px;
}
.card button{
    border: none;
    padding: 9px;
    color: white;
    background-color: #49d6bf;
    cursor: pointer;
    width: 40%;
    margin: 5px 0;
    font-size: 21px; gap: 10px;
    border-radius: 8px;
}
.card .buttons {
    display: flex; 
    justify-content: space-between; 
    gap: 10px;
    border-radius: 8px;
}
#themgiohang{
    display: flex;
    margin-right: 25px;
    width: 55%;
    height: 20%;
}
.buttons button img {
    width: 40px;
    height: 40px;
    mix-blend-mode: multiply; 
}
.card button:hover{
    opacity: 0.7;
}
.card .buttons button:last-child {
    margin-right: 0; 
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
    gap: 20px;
}
.row {
    display: flex; 
    justify-content: flex-start; 
    margin-bottom: 20px; 
}
.themsp{
    font-size: 21px;
    text-align: left; 
}
.themsp p{
    margin-top: 25px;
    display: flex;
    margin-left: 485px;
    max-width: 550px; 
}
.themsp p label{
    width: 235px; font-weight: bold;
}
.themsp p input{
    font-size: 20px;
    width: 100%; border-radius: 7px;
}
.themsp .button input {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.button input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.button input[type="submit"]:hover {
    background-color: #45a049;
}

.button input[type="button"] {
    background-color: #b0b0b0;
    color: white;
    border: none;
}

.button input[type="button"]:hover {
    background-color: #8c8c8c;
}
.xoasp {
    font-size: 21px;
    text-align: left;
}

.xoasp p {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px; /* Tạo khoảng cách giữa các nút */
}

.xoasp p label {
    width: 380px; 
    font-weight: bold;
    margin-top: 10px;
}
.xoasp p input{
    width: 130px;
}
.xoasp p input, .xoasp p a {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.xoasp .button-xoa {
    background-color: #f44336;
    color: white;
    border: none;    
    text-decoration: none;
    cursor: pointer;
    width: 75px;
    margin-left: 10px;
}
.xoasp .button-xoa:hover {
    background-color: #e53935;
}
.xoasp .button-xoacancel {
    background-color: #b0b0b0;
    color: white;
    text-decoration: none;
    border: none;
    margin-left: 5px;
}
.xoasp .button-xoacancel:hover {
    background-color: #8c8c8c;
}
.button-xoa {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f44336;
    color: white;
    border: none;
    width: 75px;
}

.button-xoa:hover {
    background-color: #e53935;
}
.xoasp .button-sua {
    background-color: #ffc107 !important;
    color: white;
    border: none;    
    text-decoration: none;
    cursor: pointer;
    width: 35px;
    margin-left: 10px;
}
.xoasp .button-sua:hover {
    background-color: #e0a800 !important;
}
.button-sua {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ffc107;
    color: white;
    border: none;
    width: 75px;
}
.button-sua:hover {
    background-color: #e0a800;
}
