body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.topnav {
  display: flex;
  height: 48px;  
  overflow: hidden; 
  padding-top: 10px 20px; 
  background-color: #333;
  position: sticky;
  top: 0; 
  z-index: 10;            
}
.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 17px;
  position: sticky; border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.topnav a:hover, .topnav a.active {
  background-color: #4CAF50;
  color: white;
}
p img{
  height: 70px; mix-blend-mode: multiply;
}
.info{
  display: flex;
  flex-wrap: nowrap;
}
.searching{
  padding: 6px 20px;
  overflow: hidden;
  position: sticky; 
  top: 0;
  z-index: 10;
  margin-top: 5px;
  max-height: 50px;
}
.topnav form.searching button{
  background-color: #4CAF50; 
  transition: background-color 0.3s, color 0.3s;
}
.topnav form.searching button:hover{
  background-color: #45a049;
}
.topnav a.home{
  transition: background-color 0.3s, color 0.3s;
  margin-left: 270px;
}
.topnav a.home:hover{
  background-color: #333;
  color: #4CAF50;
}
.topnav img{
  display: flex;
  width: 50px;  
  height: 48px; 
  position: absolute;
  top: 0;
  margin-left: 140px;
}
.topnav img:hover{
  background-color: #333;
}
/* của Giới thiệu*/
.content {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}
.content img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.content .center-image {
  display: block;
  margin: 20px auto;
  width: 80%;
}
.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer img {
  width: 450px;
  margin-top: 0px;
}
